{{> resumeSectionHeader headerText=text.heading}}
{{#each text.list}}
  {{> resumeSectionSubHeader subHeaderText=this.name}}<i class="duration">{{this.duration}}</i>
  <ul>
    {{#each this.points}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
{{/each}}