<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col">
      <div class="alert alert-secondary" role="alert">
        <h2 class="alert-heading">Grant Moss</h2>
        <div class="row">
          <div
            class="d-flex align-items-start flex-column col-sm-12 col-lg-8 col-xl-9"
          >
            <p class="lead fs-4">Hi! Welcome to my personal website.</p>
            <p class="lead fs-4">My name is Grant, and I'm gearing up for the
              next big move in my career. I'm a self-taught programmer with 6+
              years experience with data visualization, algorithms, and data
              analysis. As a recognized technology leader, I've enjoyed creating
              data &amp; technology transformation opportunities for the
              Government of Canada. I have a strong background in finance,
              economic regulation of pipeline tolls, and commodity markets.
            </p>
            <div class="row mt-auto position-bottom">
              <p>
                Take a look at the links below to learn more about my work so
                far.
              </p>
              <div class="col-6">
                <button
                  type="button"
                  onclick="location.href='https://www.cer-rec.gc.ca/en/about/news-room/whats-new/2021/spotlight-grant-moss-market-analyst-and-software-developer.html';"
                  class="btn btn-primary feature-btn"
                >Spotlight Article</button>
              </div>
              <div class="col-6">
                <button
                  type="button"
                  onclick="location.href='https://www.linkedin.com/posts/cer-rec_what-makes-working-at-the-cer-so-rewarding-activity-6864263600341692416-Ns-Q';"
                  class="btn btn-primary feature-btn"
                >LinkedIn Feature</button>
              </div>
            </div>
          </div>
          {{!-- <div class="col-sm-12 col-lg-4 col-xl-3" id="image-column">
            <img
              id="headshot"
              class="img-fluid"
              width="480"
              height="640"
              src="./assets/IMG_0724.jpg"
              alt="grant moss headshot"
            />
          </div> --}}
        </div>
        <hr />
        <p class="mb-0">I'm interested in joining a hard-working organization
          that values innovation and technical leadership.</p>
      </div>
      <h2 class="mt-5">My Journey</h2>
    </div>
  </div>
  <div class="row justify-content-between mt-2">
    <div class="col-md-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">1. Bcomm Degree</h5>
          <h6 class="card-subtitle mb-2 text-muted">University of Alberta</h6>
          <p class="card-text">Started generating an interest in analytical
            problem solving. Focused my studies on quantitative finance and
            statistics for business decisions.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">2. International Exchange</h5>
          <h6 class="card-subtitle mb-2 text-muted">Hong Kong</h6>
          <p class="card-text">Met an amazing professor who really inspired me
            to move my career into technology. Learned modeling, algorithmic
            trading, and network analysis in python.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">3. Summer Job</h5>
          <h6 class="card-subtitle mb-2 text-muted">National Energy Board</h6>
          <p class="card-text">Started building a strong domain knowledge in
            crude oil/NGL/natural gas markets. Authored significant amounts of
            energy information articles, using data to explain energy dynamics
            in Canada.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">4. Market Analyst</h5>
          <h6 class="card-subtitle mb-2 text-muted">Canada Energy Regulator</h6>
          <p class="card-text">Regognized as a key leader in data &amp;
            technology innovation. Successfully navigated high profile pipeline
            tolls applications and energy systems modeling projects.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-between mt-4 mb-4">
    <div class="col">
      <p>Whats next? I'm looking to enter a leadership position in the energy
        industry with an organization that could benefit from data &amp;
        technology skills. I'm also interested in future education opportunites.
        Take a look at my work and personal project as well as my resume (tabs
        above) to get a sense of what I can do for your organization. Stay
        tuned!</p>
    </div>
  </div>
</div>