<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col">
      <div class="alert alert-primary" role="alert">
        <h2 class="alert-heading">gmoss.dev</h2>
        <p class="lead">Hi! Thanks for stopping by. My name is Grant, and I'm
          gearing up for the next big move in my career. I'm a self-taught
          programmer with 3+ years experience with data visualization,
          algorithms, and data analysis. A passionate technology leader, I've
          enjoyed creating data & technology transforamtion opportunities for
          the Government of Canada. As an experienced writer & analyst, I've
          picked up subject matter expertise in energy markets, commodities, and
          regulatory economics. I enjoy using my programming and data skills to
          build my ideas into something real.
        </p>
        <hr />
        <p class="mb-0">I'm interested in joining a hard-working organization
          that values innovation.</p>
      </div>
      <h2 class="mt-5">My Journey</h2>
      <p>Open source tools and communities are making it easier for
        non-programmers to deliver amazing results. This is the path I've taken
        so far!</p>
    </div>
  </div>
  <div class="row justify-content-between mt-2">
    <div class="col-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">1. Bcomm Degree</h5>
          <h6 class="card-subtitle mb-2 text-muted">University of Alberta</h6>
          <p class="card-text">Started generating an interest in analytical
            problem solving. Focused my studies on quantitative finance and
            statistics for business decisions.</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">2. International Exchange</h5>
          <h6 class="card-subtitle mb-2 text-muted">Hong Kong</h6>
          <p class="card-text">Met an amazing professor who really inspired me
            to move my career into data analytics. Learned modeling, algorithmic
            trading, and network analysis in python.</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">3. Summer Job</h5>
          <h6 class="card-subtitle mb-2 text-muted">National Energy Board</h6>
          <p class="card-text">Started building a strong domain knowledge in
            crude oil/NGL/natural gas markets. Authored significant amounts of
            energy information articles, using data to explain energy dynamics
            in Canada.</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">4. Market Analyst</h5>
          <h6 class="card-subtitle mb-2 text-muted">Canada Energy Regulator</h6>
          <p class="card-text">Regognized as a key leader in data & technology
            innovation. Moving the organization forward with transformational
            initiatives in data visualization and data analysis/programming
            mentorship.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-between mt-4">
    <div class="col">
      <p>Whats next? I'm looking forward generating new opportunities for
        myself. Stay tuned! Take a look at my work and personal project as well
        as my resume (tabs above) to get a sense of my vision, and what I can do
        for your organization.</p>
    </div>
  </div>
</div>