<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col">
      <div class="alert alert-success" role="alert">
        <h2 class="alert-heading">gmoss.dev</h2>
        <p>Hi! Thanks for stopping by. My name is Grant, and I'm gearing up for
          the next big move in my career. I'm a self-taught programmer with 3+
          years experience with data visualization, algorithms, and data
          analysis. A passionate technology leader, I've enjoyed creating data &
          technology transforamtion opportunities for the Government of Canada.</p>
        <hr />
        <p class="mb-0">I'm interested in joining a hard-working organization
          that values innovation.</p>
      </div>
      <h2 class="mt-5">My Journey</h2>
      <p>Open source tools and communities are making it easier for
        non-programmers to deliver amazing results. This is the path I've taken
        so far!</p>
    </div>
  </div>
  <div class="row justify-content-between mt-2">
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">1. Bcomm Degree</h5>
          <h6 class="card-subtitle mb-2 text-muted">University of Alberta</h6>
          <p class="card-text">Some quick example text to build on the card
            title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">2. International Exchange</h5>
          <h6 class="card-subtitle mb-2 text-muted">Hong Kong</h6>
          <p class="card-text">Some quick example text to build on the card
            title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">3. Summer Job</h5>
          <h6 class="card-subtitle mb-2 text-muted">National Energy Board</h6>
          <p class="card-text">Some quick example text to build on the card
            title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">4. Market Analyst</h5>
          <h6 class="card-subtitle mb-2 text-muted">Canada Energy Regulator</h6>
          <p class="card-text">Some quick example text to build on the card
            title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div>