<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col">
      <p class="lead text-center text-secondary fs-5 mb-4">Take a look at some
        of my major software and data-analytics projects.</p>
      <div id="work-coding-projects-list"></div>
      {{! <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h3 class="card-title">pipeline-profiles</h3>
            <div>
              <a class="link-divider" href="" target="_blank"><span>GitHub
                  Repository</span></a>
              <a class="link-divider" href="" target="_blank"><span>Heroku
                  WebApp</span></a>
              <a href="" target="_blank"><span>Production Site</span></a>
            </div>
          </div>

          <h6 class="card-subtitle mb-2 text-muted">Creator, lead-designer,
            lead-developer</h6>
          <p class="card-text">Major technology initative adding new
            data-visualization, interactivity, and safety & environment content
            to the CER's highly popular pipeline profiles webpages. Previous to
            this, we relied on tableau (not the right tool for the job) to share
            data externally. The tableau was very slow, didnt always work, and
            required alot of manual work. Switching to the JavaScript ecosystem
            has allowed for previously impossible interactivity, such as
            allowing the user to find pipeline incidents near them on a leaflet
            map.</p>
          <p>With over 500 commits, this is my largest JavaScript project to
            date. I've worked hard on the code to make it easily maintainable
            and general purpose into the future.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Languages:&nbsp;&nbsp;&nbsp;
            <span style="color:#f1e05a;">&#11044;&nbsp;</span><span
            >JavaScript</span>
          </li>
          <li class="list-group-item">Frameworks:&nbsp; Highcharts, Leaflet, Web
            Experience Toolkit</li>
        </ul>
      </div> }}
    </div>
  </div>
</div>