<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col articles-list">
      <p class="lead text-center mb-4">Take a look at some of my work published
        by the Canada Energy Regulator. These articles, including the charts,
        were authored by me.</p>
      <div class="row justify-content-md-center mb-4 mt-5">
        <h3>Summary</h3>
        <div class="col">
          <div
            class="col alert alert-secondary"
            role="alert"
            id="minor-articles-count"
          >
          </div>
        </div>
        <div class="col">
          <div
            class="alert alert-success"
            role="alert"
            id="major-articles-count"
          >
          </div>
        </div>
      </div>
    </div>
    <h3>Full Collection</h3>
    <div id="articles-flags">
    </div>
  </div>
</div>