@import url("bootstrap/dist/css/bootstrap.min.css");
@import url("responsive.css");

.section-hide {
  display: none;
}

.section-show {
  display: block;
}

p {
  font-size: 20px !important;
  line-height: 1.65em !important;
}

#my-nav-buttons button {
  max-width: 42px;
}

.code-card-head {
  flex-wrap: wrap;
}

.button-text {
  display: flex;
  justify-content: center;
  font-size: 13px;
  font-weight: bolder;
}

.nav-button-space {
  margin-right: 10px;
}

.articles-list p {
  line-height: 1.25em !important;
}

.link-divider {
  border-right: 3px solid gray;
  margin-right: 3px;
}

.link-divider-last {
  margin-right: 3px;
  margin-left: 3px;
}

.link-divider span {
  margin-right: 6px;
  margin-left: 3px;
}

.feature-btn {
  width: 100%;
  height: 100%;
}
