<!DOCTYPE html>
<html lang="en">
  <head>
    {{> components/head}}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" id="main-tab">Grant Moss</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a
              class="nav-link active"
              id="about-tab"
              aria-current="page"
              href="#about"
              onclick="openTab(event, 'about')"
              >About Me</a
            >
            <a
              class="nav-link"
              id="work-tab"
              href="#work"
              onclick="openTab(event, 'work')"
              >Work Projects</a
            >
            <a
              class="nav-link"
              id="personal-tab"
              href="#personal"
              onclick="openTab(event, 'personal')"
              >Personal Projects</a
            >
            <a
              class="nav-link"
              id="blog-tab"
              href="#blog"
              onclick="openTab(event, 'blog')"
              >Blog</a
            >
            <a
              class="nav-link"
              id="blog-tab"
              href="#resume"
              onclick="openTab(event, 'resume')"
              >Resume</a
            >
          </div>
        </div>
      </div>
    </nav>
    <div class="section section-show" id="about">
      {{> components/about}}
    </div>
    <div class="section section-hide" id="work">
      {{> components/work}}
    </div>
    <div class="section section-hide" id="personal">
      {{> components/personal}}
    </div>
    <div class="section section-hide" id="blog">
      {{> components/blog}}
    </div>
    <div class="section section-hide" id="resume">
      {{> components/resume}}
    </div>
  </body>
</html>
